h1 {
  font-size: small;
  text-align: right;
}
.right {
  text-align: right;
}
.italics {
  font-style: oblique;
}
h2 {
  font-family: "Comic Sans MS", cursive, sans-serif; font-style: oblique; font-weight: bold; text-decoration: underline;
}
.text {
  font-family: "Comic Sans MS", cursive, sans-serif; font-style: oblique;
}
p {
  margin-top: 1em;;
  margin-bottom: 0em;
  line-height: 1em;;
}
